<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>{% block title%}Products{% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'nav.css' %}">
  <style>
    /* {% block css %} {% endblock %} */
#auth:hover{background-color: #BB383B;border-radius: 9px;border: 0px solid; padding: 4px;}
#prod:hover{background-color:#BB383B;border-radius: 9px;border: 0px solid; padding: 4px;}
#add:hover{background-color: #BB383B;border-radius: 9px;border: 0px solid; padding: 4px;}

    #blink {
      font-family: serif;
      color: #008000;
      font-weight: bolder;
      font-family: cursive;
      animation: animate 6s linear infinite;

    }

    #blink_badge{animation: animate_badge 3s linear infinite}
    @keyframes animate{
      0% {
        visibility: hidden;
      }

      50% {
        visibility: visible;
      }

      100% {
        opacity: 0;
      }
    }

    @keyframes animate_badge{
      0% {
        visibility: visible;
      }

      50% {
        opacity:0;
      }

      100% {
        visibility:visible;
      }
    }
  </style>
</head>

<body style="background-color: #deebdd">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #032054 !important;">
    <div class="container-fluid">
      <a id="prod" class="navbar-brand icon-color" href="/"><b style="color: white;">Products</b></a>
      <a id="add" class="navbar-brand icon-color" href="/add_products"><b style="color: white;">Add Products</b></a>




      {%if request.session.id%}
      <a id="auth"  class="navbar-brand icon-color" href="/logout"><b style="color: white;">Logout</b></a>

      {%else%}
      <a id="auth" class="navbar-brand icon-color" href="/login"><b style="color: white;">Login</b></a>

      {%endif%}
    </div>
    </div>

  </nav>

  <!-- ______________________________________________________________________________________________________________ -->


  <div>.</div>
  <div>.</div>
  <div>.</div>

  {%block body%}
  <h6>{{msg}}</h6>
  {%if msg%}
  <div class="row" id="display_alert">
    <div class="col-md-4"></div>
    <div id=show_msg data-alert="{{param}}" class="alert alert-primary text-center col-md-4  " role="alert"
      style="background-color: rgb(118, 101, 179); color: white; display: none;">
      <b>{{msg}}</b>
      <input type="hidden" id="hidden" value="{{msg}}">
    </div>
  </div>
  {%endif%}
  <br>
  <div class="container">
    <div class="row ml-1">
      
      <div class="row ">
      {%if request.session.id%}
      <div class="col_md-5 mb-2 text-center"><a class="btn btn-primary" href="/export">Export CSV</a></div>
        <div class="col-md-5"><form autocomplete="off" action="/subscribe" method="get"><input required  placeholder="Enter Email for Alert" style="display: inline; border-radius: 7px; " type="email" name="email" class="m-2 "><button  style="padding: 4px; color: white; background-color: green; border-radius: 5px; border: transparent;" type="submit" ><span style="font-weight: bold;border: 1px solid green;color:white;font-size:small">Subscribe/Unsubscribe</span></form></div>
     {%endif%}
      <div class="col-md-4"><form autocomplete="off" action="/search" method="get"><input required  placeholder="Search Products" style="display: inline; border-radius: 10px; " type="text" name="search" class="m-2 "><input  style="padding: 4px; color: white; background-color: violet; border-radius: 10px; border: transparent;" type="submit" value="Search"></form></div></div>
     
      <div class="form-group mt-3 text-center">
        <label for="exampleInputPassword1"> <b>Filter</b></label>
        <select  onclick="f(this)" required name="payment_mode" id="exampleInputPassword1">
          <option disabled selected value="">Filter By</option>
          <option value="latest">Added Latest</option>
          <option value="earliest">Added Earliest</option>
          <option value="expired">Expired</option>
          <option value="active">Active</option>
        </select>
      </div>

      {% for i in get_data %}

      <div class="col-sm-4 ml-1">

        <div class="card m-4" style="width: 18rem;background-image: linear-gradient(#A9F1DF ,#FFBBBB); border-radius: 20px;">
       {%if i.expires_in > 0 %}
         <span id="blink_badge"  class="badge badge-light"><b  style="background-image: linear-gradient(#b91372 ,#ca1a1a);border-radius: 10px;padding:2px">
          {{i.expires_in}} days left</b></span>
          
          {%elif i.expires_in < 0 %}
          <span id="blink_badge"  class="badge badge-light"><b  style="background-image: linear-gradient(#b91372 ,#ca1a1a);border-radius: 10px;padding:2px">
           Expired</b></span>
          
           {%elif i.expires_in == 0 %}
          <span id="blink_badge"  class="badge badge-light"><b  style="background-image: linear-gradient(#b91372 ,#ca1a1a);border-radius: 10px;padding:2px">
           Expiring Today</b></span>

          {%endif%}
        
          <img class="card-img-top" src="/media/{{i.photo}}" alt="" style="height: 25px; width: 25px ;">
          <div class="card-body">
            <h5 class="card-title"><b>{{i.name|title}}</b> </h5>
            <span style="display: inline; color: blue; font-weight: bolder;">Vendor Name :</span> <span
              class="card-text">{{ i.vendor_name|title }}</span> <br>
            <hr>
            <span style="display: inline; color: blue; font-weight: bolder;">Vendor Email :</span> <span
              class="card-text">{{ i.vendor_email|truncatechars:200}}</span> <br>
            <hr>
            <span style="display: inline; color: blue; font-weight: bolder;">Purchased on :</span> <span
              class="card-text">{{i.sdate}}</span>
            <hr>
            <span style="display: inline; color: blue; font-weight: bolder;">Expires on :</span> <span
              class="card-text">{{i.edate}}</span>
            <hr>
            <span style="display: inline; color: blue; font-weight: bolder;">Payment Mode :</span> <span
              class="card-text">{{i.payment_mode}}</span>
  
              {%if request.session.id%}
            
            <button  type="button" class="btn btn-danger m-4 " value="{{i.id}}" onclick="del(this)"
            style="background-image: linear-gradient(#a80c3e)"
            >Delete</button>

            <!-- submit form for edit products -->
            <form action="/edit/{{i.id}}" method="post" style="display:inline">
              {%csrf_token%}
              <input type="text" value="edit" name="type" style="display:none">
              <input type="submit" class="btn btn-success m-4 " value="Edit"></button>
            </form>
            <!-- submit form for edit products ends here -->
            {%endif%}
          </div>
        </div>
      </div>

      {% endfor %}

    </div>
  </div>


  {% block js %}
  <script>
    var display_alert = document.getElementById("display_alert");
    setTimeout(
      function x() {
        display_alert.style.display = "none";
      }, 3000
    )
      
    var y=document.getElementById("hidden").value;
    var z=document.getElementById("show_msg").getAttribute("data-alert") ;
    
    if(y!="" && z==""){
      if (y=="Product has been added successfully"){y="added" }
      else if(y=="Product has been updated successfully"){y="updated"}
      else if(y=="You have unsubscribed & won't get any alert regarding products expiry in future"){y="unsubscribe"}
      else if(y=="You have subscribed successfully for email alert"){y="subscribe"}
      else if(y=="Product is not available"){y="not_available"}
        
        var url="/?res="+y
        location.replace(url)
   }

   if (z=="param"){
    document.getElementById("show_msg").style.display="block";
    setTimeout(function(){
    document.getElementById("show_msg").style.display="none";
      
     	},3000
  )
   }
// delete function to send id to server
    function del(arg) {
      var txt;
      if (confirm("Are you sure you want to delete?")) {
        var url="/delete/"+arg.value
        location.replace(url)
        // document.getElementById("delete").submit();
      }
    }

    // function for sending filter option value to server
    function f(e){
      if(e.value=="latest"){location.replace("/?filter="+e.value)}
      else if(e.value=="earliest"){location.replace("/?filter="+e.value)}
      else if(e.value=="expired"){location.replace("/?filter="+e.value)}
      else if(e.value=="active"){location.replace("/?filter="+e.value)}
      
    }
  </script>
  {% endblock %}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  
</body>
{%endblock%}

</html>
